<h4>Listado</h4>
<ul class="list-group">
  <li *ngFor="let character of characterList;
    let i = index;
    let isFist=first;
    let isLast=last;
    let isEven=even;
    let isOdd=odd"
    class="list-group-item d-flex justify-content-between align-items-center"
    [ngClass]="{
      'list-group-item-dark' : isLast,
      'list-group-item-primary' : isEven
    }">

    <div>
      <span class="text-primary">{{i+1}}. </span>
      <span>{{character.name}} - </span>
      <strong>Power: </strong>
      <span>{{character.power}}</span>
    </div>

    <div>
      <!-- <button class="btn btn-danger" (click)="onRemoveCharacter(character.id)">X</button> -->
      <button class="btn btn-danger" (click)="onRemoveCharacter(character.id)">X</button>
    </div>

    <!-- <span> Es el primero: {{isFist}}</span>
    <span> Es el último: {{isLast}}</span>
    <span> Es Par: {{isEven}}</span>
    <span> Es Impar: {{isOdd}}</span> -->

  </li>
</ul>
